/*** PIF Foundation SCSS ***/
/*** Danny Chapman ***/

/*** Colors ***/
$pif-primary-color: #0D1230;
$pif-secondary-color: #C08A38;
$pif-body-content-color: #444;
$pif-body-accent-color: #F4F2F1;
$pif-body-background-color: #fff;

/*** General ***/
html, body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-weight: 300; color: $pif-body-content-color;
  background: $pif-body-background-color;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ol, ul {margin: 1em 0 1em 1.2em;}
dl {margin-bottom: 2em;}
dd {margin: 0; padding: 0; line-height: 1em; span {color: $pif-primary-color;}}

#content {
    background: #fff;
    color: $pif-body-content-color;
  }

.row, footer .row {max-width: 72em;}


a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: $pif-body-content-color;

  &:hover {color: $pif-body-content-color;}

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', 'Georgia', 'Times New Roman' serif;
  font-weight: normal;
  color: $pif-body-content-color;}

h2 {
  font-size: em-calc(36);
  margin: 1em 0 .75em 0;
  color: $pif-primary-color;
  font-weight: 300;
  em {font-style: normal; font-weight: 500;  }
}

h3 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: 0 0 2em 0;
  letter-spacing: 0.09em;
}

.info-row {
  background: $pif-body-accent-color;
  padding: 3em 0;
  margin: 0;
}

.call-to-action-row {
  color: $pif-secondary-color;
  padding: 3em 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  p {color: $pif-primary-color;}
  h3 {color: $pif-secondary-color; margin: 0 0 1em 0;}
}

.feature-row {
  background: $pif-primary-color;
  padding: 2em 0 2em 0;
  clear: both;
  h3 {color: #fff; margin: 0;}
  h4, h5, h6, p, ol, li, dd, table, a {color: #fff; font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  p {padding: 0 0 2em 0;}

  }



  img {
    margin-bottom: .5em;
    width: 100%;
    background: rgba(255,255,255,.15);
  }

  h4 {font-size: em-calc(20);}

  p {color: #fff; color: rgba(255,255,255,.65); font-size: em-calc(14); margin-bottom: 2em; font-weight: 300;}

  ul {
    list-style: none;
    margin: 0 0 2em 0; padding: 0;
    font-size: em-calc(14);
    li {list-style: none; display: block; margin: 0; padding: 0 1em 0 0; }
    a {border-bottom: 1px solid rgba(255,255,255,.1); display: block; padding: .25em 0;}
  }

}

.panel {background: none; border: none; background: transparent;}

p.source {
  color: rgba(0,0,0,.5);
  font-size: .9em;
  margin: .5em 0;
}

.project-item {
  position: relative;
  img {margin-bottom: 1.25em;}
  h4 {
    position: absolute;
    background: rgba($pif-primary-color,.8);
    margin: 0 0 1em 0;
    font-size: em-calc(18);
    padding: 0 .2em;
    bottom: .65em;
  }

}

#our-work {
  h3 {margin: 0;}
}


/*** Logo / header ***/

.header {
  width: 100%;
  clear: both;
  padding-bottom: 1em;
  h1 {margin-bottom: 0; line-height: 1em;}
}


h1 a {
  text-indent: 180%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  background: url(../img/design/logo.png) top center no-repeat;
  width: 140px;
  height: 80px;
  background-size: contain;
  @media #{$small} {
    width: 250px;
    height: 100px;
  }

}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  h1 a {
   background: url(../img/design/logo-retina.png) top center no-repeat;
   width: 140px;
   height: 80px;
   background-size: contain;
   @media #{$small} {
     width: 250px;
     height: 100px;
     margin: .5em auto;
     background-size: contain;
   }
  }

}


/*** Nav ***/
nav {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-weight: 300;
  ul {font-size: em-calc(15);  margin: 0; padding: 0; font-weight: 500; text-align: center; margin: 0 auto 1em auto;}
  li {list-style: none; display: inline-block; line-height: 1.1em;
      em {display: block; font-style: normal; font-weight: 500;
          @media only screen and (min-width : 320px) and (max-width : 819px) {font-size: .9em;}
          }
      }
  a {display: block; padding: .5em 5%; color: $pif-body-content-color; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-weight: 300;}

  @media #{$small} {
    padding: 1.2em 0 0 0; margin: 0;
    font-size: 1.1em;

    ul {font-size: em-calc(16);}

    li {
     margin: 0 0 0 2em; width: auto; em {display: inline; } &:last-child {border-left: none;}
      a {padding: 1.5em 0; color: $pif-body-content-color;  em {font-style: normal; opacity: 1;}}
      a:hover {color: $pif-primary-color;}
      &:last-child {border-right: none;}
      &.current a {color: #fff; border-top: 5px solid #fff;}
    }
  }
}


/***  Banner ***/

.banner {
  clear: both;
  padding: 2.5em 0 12em 0;
  border-top: 1px solid $pif-body-accent-color;
  @media #{$medium} {padding: 16em 0 1em 0;}
  @media #{$large} {padding: 22em 0 3em 0;}
  background: url(../img/design/banner.jpg) 50% 20% no-repeat fixed;
  background-size: 100% auto;
  h2 {
    text-align: center;
    font-size: em-calc(28px);
    em {display: block;}
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    padding: 0; line-height: 1em;
    @media #{$small} {font-size: em-calc(48px);}
    @media #{$medium} {font-size: em-calc(68px);}
    @media #{$large} {font-size: em-calc(50px);}
    span {color: #fff; display: inline-block; padding: 0 .15em;}
  }
  p {color: #fff; font-size: 1.3em; margin: 0;}
  a {color: $pif-secondary-color;
    &:hover, &:active, &:focus {color: $pif-primary-color;}
  }
}

/*** Banner Animation ***/

@-webkit-keyframes lightup {

   0% {
     opacity: 0;
     -webkit-filter: blur(4px);
     -webkit-transform: scale(.98);
     -webkit-filter: blur(2px);
   }

   70% {
     opacity: 0;
     -webkit-filter: blur(4px);
     -webkit-transform: scale(.98);
     -webkit-filter: blur(2px);
   }

   100% {
     opacity: 1;
     -webkit-filter: blur(0px);
     -webkit-transform: scale(1);
   }

}


/*** Opening Pitch ***/

.opening-pitch {
  padding: 4em 0;
  blockquote {font-size: em-calc(18px);  color: $pif-body-content-color;}
  @media #{$small} {blockquote {font-size: em-calc(28px);}}
  @media #{$medium} {blockquote {font-size: em-calc(32px); padding: 2.25em 0;}}
}



/*** Buttons ***/

.button {
  border: none;
  background: $pif-secondary-color;
  &:hover, &:active, &:focus {background: $pif-primary-color;}
}


/*** Misc ***/
abbr {text-decoration: none; border-bottom: none; color: inherit; font-size: inherit; font-weight: inherit;}
abbr[title="and"] {font-weight: 100;}


/*** Footer ***/

footer {
  background: rgba(0,0,0,.1);
  border-top: 1px rgba(0,0,0,.3);
  padding: 1em 0 1em 0;
  margin: 0;

  .left {text-align: left;}


  a {border-bottom: 1px solid rgba(0,0,0,.15);}

  p {
     margin-bottom: .5em;
     font-weight: 300;
     color: #777;
    @media #{$large} {text-align: right;}
  }
}
