{% include header.html %}

<div id="content">

  <div class="banner">

    <div class="row">
      <div class="small-10 medium-9 small-centered columns">
        <h2><span>Promoting innovation <em>in government.</em></span></h2>

      </div>
    </div>

  </div>



  <div class="row opening-pitch">
    <div class="small-11 large-8 small-centered columns">
      <p><strong>Secondary statment goes here.</strong> Blah blah.</p>
    </div>
  </div>


<div class="info-row">
  <div class="row" id="who-we-are">
    <div class="small-12 columns">
      <h3>Who we are</h3>
    </div>

    <div class="small-12 large-7 columns">

    <p>First: The uncertain, unsettled condition of this science of Cetology is in the very vestibule attested by the fact, that in some quarters it still remains a moot point whether a whale be a fish. In his System of Nature, A.D. 1776, Linnaeus declares, "hereby separate the whales from the fish." But of my own knowledge, I know that down to the year 1850, sharks and shad, alewives and herring, against Linnaeus's express edict, were still found dividing the possession of the same seas with the Leviathan.</p>

    <p>The grounds upon which Linnaeus would fain have banished the whales from the waters, he states as follows: "On account of their warm bilocular heart, their lungs, their movable eyelids, their hollow ears, penem intrantem feminam mammis lactantem, and finally, "ex lege naturae jure meritoque".</p>


      </div>


      <div class="small-12 large-5 columns">
        <img src="http://placehold.it/450x350" align="right" class="right">
      </div>

    </div>
  </div>



  <div class="feature-row">
    <div class="row" id="what-we-do">
      <div class="small-12 columns">
        <h3>What we do</h3>
      </div>
    </div>

    <div class="row">
      <div class="small-12 large-4 columns">

        <div class="project-item">
          <img src="http://placehold.it/350x200">
          <h4>Project title</h4>
        </div>

        <p>Description</p>
        <ul>
          <li><a href="#">more about this</a></li>
        </ul>
      </div>

      <div class="small-12 large-4 columns">

        <div class="project-item">
          <img src="http://placehold.it/350x200">
          <h4>Project title</h4>
        </div>

        <p>Description</p>
        <ul>
          <li><a href="#">more about this</a></li>
        </ul>
      </div>


      <div class="small-12 large-4 columns">

        <div class="project-item">
          <img src="http://placehold.it/350x200">
          <h4>Project title</h4>
        </div>

        <p>Description</p>
        <ul>
          <li><a href="#">more about this</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="call-to-action-row">
    <div class="row" id="get-involved">
      <div class="small-12 large-8 large-centered columns">

        <h3>Get involved</h3>

        <p>There are plenty of great ways to get involved. Attend an event, apply to become a Presidential Innovation Fellow, or simply join our mailing list.</p>

        <a href="#" class="button">Join our mailing list</a>

      </div>
    </div>
  </div>


</div>


{% include footer.html %}
