{% include header.html %}

<div id="content">

  <div class="banner">

    <div class="row">
      <div class="small-10 medium-9 small-centered columns">
        <h2><span>Promoting innovation <em>in government.</em></span></h2>

      </div>
    </div>

  </div>



  <div class="row opening-pitch">
    <div class="small-11 large-8 small-centered columns">
      <p><strong>“the most badass innovators on the planet”</strong> -- US CTO, Todd Park</p>
    </div>
  </div>


<div class="info-row">
  <div class="row" id="about">
    <div class="small-12 columns">
      <h3>Presidential Innovation Fellows</h3>
    </div>

    <div class="small-12 large-7 columns">

    <p>
The world has changed significantly since our nation’s founders first sought to form a more perfect union. The challenges we face are great and incredibly complex: from saving lives when faced with natural disasters like storms, floods and even asteroids, to upgrading the infrastructure that serves our veterans, to unleashing government data to power the economy and create jobs.     
    </p>

  <p>
Presidential Innovation Fellows represent the best talent our nation has to offer to deal with the new challenges of today. Entrepreneurial leaders in design, technology and making shit happen, fellows are asked to take on difficult, multi-headed, and technologically-oriented problems and create real and lasting impact. Fellows start each day with full knowledge that their project’s scale, scope and direction might change. Resilient in the face of uncertainty, fellows seize opportunities, untangle bureaucracy, and foster partnerships inside their agency or out - focused by their guiding principle: aut viam inveniam aut faciam -- either find a way or make one.  
  </p>

  <p>
The experience that each fellow has is different, but in the end, their work is the same: do the hard thing, do the right thing, and serve the interests of the people of the United States and the world.    
  </p>

      </div>


      <div class="small-12 large-5 columns">
        <iframe width="450" height="350" src="//www.youtube.com/embed/8WLM61QwbvU?start=132" frameborder="0" allowfullscreen></iframe>
        <p class="medium-text-center">USCTO Todd Park on Innovation in Government</p>
        
        <!-- <img src="http://placehold.it/450x350" align="right" class="right"> -->
      </div>

    </div>
  </div>



  <div class="feature-row">
    <div class="row" id="our-work">
      <div class="small-12 columns">
        <h3>Our Work</h3>
      </div>
    </div>

    <div class="row">
      <div class="small-12 large-4 columns">

        <div class="project-item">
          <img src="http://placehold.it/350x200">
          <h4>Project title</h4>
        </div>

        <p><a href="http://www.data.gov/">Data.gov</a> provides access to over 100,000 federal data sets. Like many PIF projects, the <a href="https://github.com/GSA/data.gov/">source code</a> of this federated data portal was developed from its inception as an open source project, as well as leveraging other open source code to accelerate development. </p>
        <!--
        <ul>
          <li><a href="#">more about this</a></li>
        </ul>
        -->
      </div>

      <div class="small-12 large-4 columns">

        <div class="project-item">
          <img src="http://placehold.it/350x200">
          <h4>Project title</h4>
        </div>

        <p>Description</p>
        <ul>
          <li><a href="#">more about this</a></li>
        </ul>
      </div>


      <div class="small-12 large-4 columns">

        <div class="project-item">
          <img src="http://placehold.it/350x200">
          <h4>Project title</h4>
        </div>

        <p>Description</p>
        <ul>
          <li><a href="#">more about this</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="call-to-action-row">
    <div class="row" id="get-involved">
      <div class="small-12 large-8 large-centered columns">

        <h3>Get involved</h3>

        <p>There are plenty of great ways to get involved. Attend an event, apply to become a Presidential Innovation Fellow, or simply join our mailing list.</p>

        <a href="#" class="button">Join our mailing list</a>

      </div>
    </div>
  </div>


</div>


{% include footer.html %}
